{
  "extends": ["airbnb", "prettier"],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "react/prop-types": 1,
    "trailingComma": "es5",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  },
  "settings": {
    "import/core-modules": ["gatsby", "prop-types"]
  }
} 